@inject IStringLocalizer<SharedResource> SharedLocalizer
@model DashboardViewModel
@{
    ViewData["Title"] = SharedLocalizer["Dashboard"];
}

<section id="skeleton-section">

    <div class="d-flex flex-column">

        <div class="row h-70vh order-1 order-md-2">
            <div class="col-12">
                <partial name="Components/_LineChartSkeleton" model="new LineChartSkeletonViewModel { HeightPixels = 221 }" />
            </div>
        </div>

        <div class="row h-25vh order-2 order-md-1">

            <!-- Desktop filters card (hidden on mobile) -->
            <div class="col-12 col-md-6 col-lg-6 col-xl-4 mb-3 d-none d-md-block">
                <partial name="Components/_LineChartSkeleton" model="new LineChartSkeletonViewModel { HeightPixels = 221 }" />
            </div>

            <!-- Table -->
            <div class="col-12 col-md-6 col-lg-6 col-xl-8 mb-3">
                <div class="card">
                    <div class="card-body p-0">
                        <div class="table-responsive h-100 m-0">
                            <table id="portfolioTable" class="table table-hover table-sm table-transparent mb-0 w-100">
                                <thead>
                                <tr>
                                    <th>@SharedLocalizer["Ticker"]</th>
                                    <th>@SharedLocalizer["PortfolioPct"]</th>
                                    <th>@SharedLocalizer["Amount"]</th>
                                    <th>@SharedLocalizer["TotalInvestment"]</th>
                                    <th>@SharedLocalizer["Worth"]</th>
                                    <th>@SharedLocalizer["ProfitEur"]</th>
                                    <th>@SharedLocalizer["ProfitPct"]</th>
                                </tr>
                                </thead>
                                <tbody>
                                @for (int i = 0; i < 4; i++)
                                {
                                    <tr class="placeholder-glow">
                                        <td><span class="placeholder col-6"></span></td>
                                        <td><span class="placeholder col-6"></span></td>
                                        <td><span class="placeholder col-6"></span></td>
                                        <td><span class="placeholder col-6"></span></td>
                                        <td><span class="placeholder col-6"></span></td>
                                        <td><span class="placeholder col-6"></span></td>
                                        <td><span class="placeholder col-6"></span></td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
   
</section>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const url = new URL(window.location.href);
            const params = new URLSearchParams();

            const tickers = url.searchParams.get('tickers');
            const mode = url.searchParams.get('mode');
            const timerange = url.searchParams.get('timerange');
            const year = url.searchParams.get('year');

            if (tickers) params.set('tickers', tickers);
            if (mode) params.set('mode', mode);
            if (timerange) params.set('timerange', timerange);
            if (year) params.set('year', year);

            const sectionUrl = params.toString()
              ? `/dashboard/content?${params.toString()}`
              : `/dashboard/content`;

            loadSkeletonSection(sectionUrl);
        });
    </script>
}
