@using Dashboard.Application.Helpers
@model Dashboard.Web.ViewModels.DashboardViewModel
@{
    var modes = new[] { "profit", "profit-percentage", "value" };

    var currentTimerange = 
        Context.Request.Query.TryGetValue("timerange", out var value) && !string.IsNullOrWhiteSpace(value)
            ? value.ToString()
            : "ALL";

    var currentMode =
        Context.Request.Query.TryGetValue("mode", out var modeVal) && !string.IsNullOrWhiteSpace(modeVal)
            ? modeVal.ToString()
            : "profit";

    var currentTickersString = 
        Context.Request.Query.TryGetValue("tickers", out var tickersVal) && !string.IsNullOrWhiteSpace(tickersVal)
            ? tickersVal.ToString()
            : null;

    var currentTickers = currentTickersString?.Split(',', StringSplitOptions.RemoveEmptyEntries | StringSplitOptions.TrimEntries) ?? [];
}

<div class="row" style="height: 25vh;">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 mb-3">
        <div class="card">
            <div class="card-body d-flex flex-column justify-content-evenly">
                <div class="btn-group w-100" role="group">
                    @foreach (var mode in modes)
                    {
                        <a asp-controller="Dashboard" asp-action="Index"
                           asp-route-timerange="@currentTimerange"
                           asp-route-tickers="@currentTickersString"
                           asp-route-mode="@mode"
                           class="btn btn-ticker px-3 py-2 @(mode == currentMode ? "active" : "")">
                            @string.Join(" ", mode.Split("-").Select(x => x.ToUpper()))
                        </a>
                    }
                </div>
                <div class="btn-group w-100" role="group">
                    @foreach (var t in FilterHelper.TIMERANGES)
                    {
                        <a asp-controller="Dashboard" asp-action="Index"
                           asp-route-timerange="@t"
                           asp-route-tickers="@currentTickersString"
                           asp-route-mode="@currentMode"
                           class="btn btn-ticker px-3 py-2 @(t == currentTimerange ? "active" : "")">
                            @t
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-8 mb-3">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive h-100">
                    <table id="portfolioTable" class="table table-hover table-sm table-transparent mb-0 w-100">
                        <thead>
                            <th>Ticker</th>
                            <th>Portfolio %</th>
                            <th>Amount</th>
                            <th>Total investment</th>
                            <th>Worth</th>
                            <th>Profit €</th>
                            <th>Profit %</th>
                        </thead>
                        <tbody>
                        @foreach (var row in Model.TableRows.OrderByDescending(tr => tr.ProfitPercentage))
                        {
                            var isActive = currentTickers.Contains(row.Ticker, StringComparer.OrdinalIgnoreCase);
                            var rowClass = isActive ? "table-active" : "";
                            var tickersRoute = isActive
                                ? string.Join(',', currentTickers.Where(t => !t.Equals(row.Ticker, StringComparison.OrdinalIgnoreCase)))
                                : (string.IsNullOrWhiteSpace(currentTickersString) ? row.Ticker : currentTickersString + "," + row.Ticker);

                            <tr class="position-relative @rowClass" style="cursor:pointer">
                                <td>
                                    @row.Ticker
                                    <a asp-controller="Dashboard" asp-action="Index"
                                       asp-route-timerange="@currentTimerange"
                                       asp-route-mode="@currentMode"
                                       asp-route-tickers="@tickersRoute"
                                       class="stretched-link">
                                    </a>
                                </td>
                                <td>@((row.PortfolioPercentage * 100).ToString("F2") + "%")</td>
                                <td>@row.Amount</td>
                                <td>@row.TotalInvestment.ToString("C2")</td>
                                <td>@row.Worth.ToString("C2")</td>
                                <td>
                                    <span class="fw-bold @(row.Profit >= 0 ? "text-success" : "text-danger")">
                                        @row.Profit.ToString("C2")
                                    </span>
                                </td>

                                <td>
                                    <span class="fw-bold @(row.ProfitPercentage >= 0 ? "text-success" : "text-danger")">
                                        @((row.ProfitPercentage * 100).ToString("F2") + "%")
                                    </span>
                                </td>
                            </tr>
                        }
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Total</th>
                            <th></th>
                            <th></th>
                            <th>@Model.TableRows.Sum(tr => tr.TotalInvestment).ToString("C2")</th>
                            <th>@Model.TableRows.Sum(tr => tr.Worth).ToString("C2")</th>
                            <th>@Model.TableRows.Sum(tr => tr.Profit).ToString("C2")</th>
                            <th>@((Model.TableRows.Sum(tr => tr.Profit) / Model.TableRows.Sum(tr => tr.TotalInvestment) * 100).ToString("F2") + "%")</th>
                            <th></th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3" style="height: 70vh;">
    <div class="col-md-12">
        <partial name="Components/_LineChart" model="Model.LineChart" />
    </div>
</div>
