@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject IStringLocalizer<SharedResource> SharedLocalizer
@model DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
}

<section id="skeleton-section">
    <div class="row" style="height: 25vh;">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 mb-3">
            <partial name="Components/_LineChartSkeleton" />
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-8 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive h-100">
                        <table class="table table-hover table-sm table-transparent mb-0 w-100">
                            <thead>
                                <tr>
                                    <th>@SharedLocalizer["Ticker"]</th>
                                    <th>@SharedLocalizer["ProfitPct"]</th>
                                    <th>@SharedLocalizer["Amount"]</th>
                                    <th>@SharedLocalizer["TotalInvestment"]</th>
                                    <th>@SharedLocalizer["Worth"]</th>
                                    <th>@SharedLocalizer["ProfitEur"]</th>
                                    <th>@SharedLocalizer["ProfitPct"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < 4; i++)
                                {
                                    <tr class="placeholder-glow">
                                        <td><span class="placeholder col-6"></span></td>
                                        <td><span class="placeholder col-6"></span></td>
                                        <td><span class="placeholder col-6"></span></td>
                                        <td><span class="placeholder col-6"></span></td>
                                        <td><span class="placeholder col-6"></span></td>
                                        <td><span class="placeholder col-6"></span></td>
                                        <td><span class="placeholder col-6"></span></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3" style="height: 70vh;">
        <div class="col-md-12">
            <partial name="Components/_LineChartSkeleton" />
        </div>
    </div>
</section>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const url = new URL(window.location.href);
            const params = new URLSearchParams();

            const tickers = url.searchParams.get('tickers');
            const mode = url.searchParams.get('mode');
            const timerange = url.searchParams.get('timerange');

            if (tickers) params.set('tickers', tickers);
            if (mode) params.set('mode', mode);
            if (timerange) params.set('timerange', timerange);

            const sectionUrl = params.toString()
              ? `/dashboard/content?${params.toString()}`
              : `/dashboard/content`;

            loadSkeletonSection(sectionUrl);
        });
    </script>
}
